.transactionList {
    font-family: "arial";
    background-color: #FFFFFF;
    width: 100%;
    font-size: small;
}

    .transactionList th {
        background: #0baed3;
        padding: 5px;
        font-size: small;
    }

        .transactionList th a {
            color: #003300;
            text-decoration: none;
        }

            .transactionList th a:hover {
                color: #003300;
                text-decoration: underline;
            }

    .transactionList td {
        background: #bcd6fa;
        color: #333333;
        font: 14px "arial";
        padding: 4px;
        text-align: center;
    }

    .transactionList tr.even td {
        background: #FFFFFF;
    }

    .transactionList td a {
        color: #003300;
        font: bold small "arial";
        padding: 2px;
        text-decoration: none;
    }

        .transactionList td a:hover {
            color: red;
            font-weight: bold;
            text-decoration: underline;
        }
